name: Android Build CI

on: push

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Test with Gradle
        run: ./gradlew test
        
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload Debug Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: debug-build
          path: app/build/outputs/apk/debug/app-debug.apk
      - name: Upload Release Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: release-build
          path: app/build/outputs/apk/release/app-release-unsigned.apk
