name: Build and Upload Signed Release

on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to Build'
        required: true

jobs:
  release-process:
    runs-on: ubuntu-18.04
    
    steps:
      # Checkout
      - uses: actions/checkout@v2
        with:
          ref: master # Always master!
      
      # Setup SDK
      - name: Set up SDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      # Build .aab file
      - name: Build GPlay AAB
        run: ./gradlew bundleRelease
      
      # Build .apk file
      - name: Build Standalone APK
        run: ./gradlew assembleRelease
      
      # Sign .aab file
      - name: Sign AAB
        uses: r0adkll/sign-android-release@v1
        id: sign_aab
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
      
      # Sign .apk file
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_apk
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        
      # Upload .aab Artifact
      - name: Upload GPlay AAB Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Photok ${{ github.event.inputs.version }} GPlay AAB
          path: ${{ steps.sign_aab.outputs.signedReleaseFile }}

      # Upload .apk Artifact
      - name: Upload Standalone APK Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Photok ${{ github.event.inputs.version }} Standalone APK
          path: ${{ steps.sign_apk.outputs.signedReleaseFile }}

      - name: Rename Artifacts
        run: |
          mv ${{ steps.sign_aab.outputs.signedReleaseFile }} Photok-${{ github.event.inputs.version }}-gplay.aab
          mv ${{ steps.sign_apk.outputs.signedReleaseFile }} Photok-${{ github.event.inputs.version }}-standalone.apk

      - name: Zip Artifacts
        run: zip Photok-${{ github.event.inputs.version }}.zip Photok-${{ github.event.inputs.version }}-gplay.aab Photok-${{ github.event.inputs.version }}-standalone.apk

      # Upload to Nextcloud
      - name: Create Release Directory on Nextcloud
        run: curl -X MKCOL -u ${{ secrets.NEXTCLOUD_USERNAME }}:${{ secrets.NEXTCLOUD_PASSWORD }} ${{ secrets.NEXTCLOUD_PHOTOK_URL }}/${{ github.event.inputs.version }}

      - name: Upload Artifacts to Nextcloud
        run: curl -T Photok-${{ github.event.inputs.version }}.zip -u ${{ secrets.NEXTCLOUD_USERNAME }}:${{ secrets.NEXTCLOUD_PASSWORD }} ${{ secrets.NEXTCLOUD_PHOTOK_URL }}/${{ github.event.inputs.version }}/Photok-${{ github.event.inputs.version }}.zip
