name: Build and Upload Signed Release

on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to Build'
        required: true

jobs:
  release-process:
    runs-on: ubuntu-latest
    
    steps:
      # Checkout
      - uses: actions/checkout@v2
        with:
          ref: master # Always master!
      
      # Setup SDK
      - name: Set up SDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      # Build .aab file
      - name: Build GPlay AAB
        run: ./gradlew bundleRelease
      
      # Build .apk file
      - name: Build Standalone APK
        run: ./gradlew assembleRelease
      
      # Sign .aab file
      - name: Sign AAB
        uses: r0adkll/sign-android-release@v1
        id: sign_aab
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
      
      # Sign .apk file
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_apk
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEY_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        
      # Upload .aab Artifact
      - name: Upload GPlay AAB Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Photok ${{ github.event.inputs.version }} GPlay AAB
          path: ${{ steps.sign_aab.outputs.signedReleaseFile }}

      # Upload .apk Artifact
      - name: Upload Standalone APK Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Photok ${{ github.event.inputs.version }} Standalone APK
          path: ${{ steps.sign_apk.outputs.signedReleaseFile }}
